.faPlusC:hover,
.faMinusC:hover,
.faCanC:hover {
  border-bottom: 2px solid darkred;
}

.custombar1 .p-scrollpanel-wrapper {
  border-right: 10px solid #eff3f8;
}

.custombar1 .p-scrollpanel-bar {
  background-color: #5d6680;
}

.custombar1 .p-scrollpanel-bar:hover {
  background-color: #17254a;
}
