.btnTocart {
  background-color: #17254a;
  border: 1px solid #17254a;
}

.btnTocart:hover {
  border: 1px solid #17254a;
  background-color: white;
  color: #17254a;
}

.Cursor {
  cursor: pointer;
}

.TransformCursor {
  transform-origin: center top;
  transition: transform 0.2s ease-out;
}

.TransformCursor:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.btnProfileHeader {
  background-color: #17254a;
  border-color: #17254a;
  transform-origin: center top;
  transition: transform 0.1s ease-out;
}

.btnProfileHeader:hover {
  transform: scale(1.1, 1.1);
  background-color: #0b183c;
  border-color: #0b183c;
}

.btnLogout {
  transform-origin: center top;
  transition: transform 0.1s ease-out;
}

.btnLogout:hover {
  transform: scale(1.1, 1.1);
}